$primary: #C0C0C0;
$primary-dark: #808080;
$alarm-color: #F80000;

.game {
  background-color: $primary;
  max-width: 35.6rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: .8rem;

  &__counter {
    background-color: #000000;
    color: $alarm-color;
    font-family: DigitalDream, sans-serif;
    padding: .5rem;
  }
}
