*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
	font-size: 3rem;
}

.container {
	max-width: 65em;
	width: 80%;
	margin: 0 auto;
}

.game {
}
